<ion-header>
  <ion-toolbar>
    <!-- <ion-title>
      PDF Viewer
    </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <ion-grid [fixed]="true" class="container">
      
      <ion-row class="pdf">
        <object id="pdf-viewer" type="application/pdf" width="100%" height="100%"></object>
      </ion-row>
      


      <ion-row class="center">
        <ion-col size="6"><ion-button (click)="deleteRecord()"class="success-button cancel" shape="round" color="light" size="medium">Cancel</ion-button></ion-col>
        <ion-col size="6"><ion-button (click)="openModal()" class="success-button" shape="round" color="success" size="medium">Next</ion-button></ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <!-- <ion-modal [(ngModel)]="isModalOpen">
    <ion-header>
      <ion-title>Modal Title</ion-title>
    </ion-header>
    <ion-content>
      Modal Content
    </ion-content>
  </ion-modal> -->

</ion-content>
