<ion-footer>
  <ion-toolbar>
    
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button  (click)="navigateDashboard()">
      <ion-icon name="search" [color]="isDashboard ? 'success' : ''"></ion-icon>
      <ion-label [color]="isDashboard ? 'success' : ''">Browse</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon src="..\assets\icon\transaction.svg"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>

    <ion-tab-button  (click)="openInbox()">
      <ion-icon src="..\assets\icon\inbox.svg" [color]="isInbox ? 'success' : ''"></ion-icon>
      <ion-label [color]="isInbox ? 'success' : ''">Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button >
    
      <ion-icon name="notifications"></ion-icon>
      <ion-badge slot="end" *ngIf="unreadNotifications != '0' ">{{unreadNotifications}}</ion-badge>
      <ion-label>Notifications</ion-label>
    </ion-tab-button> 
    <ion-tab-button  (click)="navigateProfile()">
      <ion-icon name="person-circle" [color]="isProfile ? 'success' : ''"></ion-icon>
      <ion-label [color]="isProfile ? 'success' : ''">Profile</ion-label>
    </ion-tab-button> 
  </ion-tab-bar>
</ion-tabs>

  </ion-toolbar>
</ion-footer>