<ion-header>
    <ion-title color="success" align = "center" style="margin-top: 50px; font-weight: 600;">Transactions</ion-title>
</ion-header>

<ion-content>
  <!-- <ion-button class="all-button" shape="round" color="success" style="margin-left: 70px; zoom:0.8">All</ion-button>
  <ion-button class="pending-button" shape="round" color="light" style="margin-left: 40px; zoom:0.8">Pending</ion-button>
  <ion-button class="paid-button" shape="round" color="light" style="margin-left: 5px; zoom:0.8">Paid</ion-button> -->

  <div class="container">
    <ion-list *ngFor="let item of response"> 
      <ion-item button detail="false" (click)="createPaymentLink(item.pay_fee)">
        <ion-row style="padding-bottom:7px">
          <ion-col size="10" class="ion-no-padding">
            <ion-text *ngIf="item.leasing_payment_frequency === '1'" style="font-size:9px;">One-Time Payment</ion-text>
            <ion-text *ngIf="item.leasing_payment_frequency === '2'" style="font-size:9px;">Monthly Payment</ion-text>
            <ion-text *ngIf="item.leasing_payment_frequency === '3'" style="font-size:9px;">Quarterly Payment</ion-text>
            <ion-text *ngIf="item.leasing_payment_frequency === '4'" style="font-size:9px;">Yearly Payment</ion-text>
          </ion-col>
          
          <ion-icon *ngIf="item.pay_status === 'pending'" name="remove-circle" color="warning" style="zoom:0.8"></ion-icon>
          <ion-icon *ngIf="item.pay_status === 'paid'" name="checkmark-circle" color="success" style="zoom:0.8"></ion-icon>
  
          <ion-label *ngIf="item.pay_status === 'pending'" style="font-size: 9px;" color="warning">{{item.pay_status}}</ion-label>
          <ion-label *ngIf="item.pay_status === 'paid'" style="font-size: 9px;" color="success">{{item.pay_status}}</ion-label>
          <ion-col size="9" class="ion-no-padding">
            <ion-text style="font-size:11px; font-weight: bold;">{{item.address}}&nbsp;</ion-text><br>
            <ion-text color="success" style="font-weight: bold; font-size: 10px;">Php {{item.pay_fee}}</ion-text>
          </ion-col> 
          
          <ion-col size="10" class="ion-no-padding"><ion-text style="font-size:9px;">{{item.pay_date}}</ion-text></ion-col> 
        </ion-row> 
    </ion-item>   
    </ion-list>


    <!-- <ion-list> 
      <ion-item button detail="false">
        <ion-row style="padding-bottom:7px">
          <ion-col size="9" class="ion-no-padding"><ion-text style="font-size:9px;">Monthly Payment</ion-text></ion-col><ion-icon name="checkmark-circle" color="success" style="zoom:0.8"></ion-icon><ion-label style="font-size: 9px;" color="success">Paid</ion-label>
          <ion-col size="10" class="ion-no-padding"><ion-text style="font-size:11px; font-weight: bold;">Lorem Ipsum Barn &nbsp;&nbsp;</ion-text><ion-text color="success" style="font-weight: bold; font-size: 10px;">Php 3,200.00</ion-text></ion-col> 
          <ion-col size="10" class="ion-no-padding"><ion-text style="font-size:9px;">Jan 23, 2023</ion-text></ion-col> 
        </ion-row>
    </ion-item>   
    </ion-list>
    <ion-list> 
      <ion-item button detail="false">
        <ion-row style="padding-bottom:7px">
          <ion-col size="9" class="ion-no-padding"><ion-text style="font-size:9px;">Monthly Payment</ion-text></ion-col><ion-icon name="checkmark-circle" color="success" style="zoom:0.8"></ion-icon><ion-label style="font-size: 9px;" color="success">Paid</ion-label>
          <ion-col size="10" class="ion-no-padding"><ion-text style="font-size:11px; font-weight: bold;">Lorem Ipsum Barn &nbsp;&nbsp;</ion-text><ion-text color="success" style="font-weight: bold; font-size: 10px;">Php 3,200.00</ion-text></ion-col> 
          <ion-col size="10" class="ion-no-padding"><ion-text style="font-size:9px;">Jan 23, 2023</ion-text></ion-col> 
        </ion-row>
    </ion-item>   
    </ion-list> -->
   
  </div>  
</ion-content>
