.title{
    margin-top:30px;
    text-align: center;
    width:100%;
    justify-content: center;
    align-items: center;
    color:white;
}
.colspan{
    flex-basis:5%;

}
.all-button{
    text-align: center;
    width: 18px;
    height: 30px;
    text-transform: capitalize;
    text-align: left;
}
.pending-button{
    text-align: center;
    height: 30px;
    width: 80px;
    text-transform: capitalize;
    text-align: center;
}
.paid-button {
    text-align: center;
    width: 20px;
    height: 30px;
    text-transform: capitalize;
    text-align: right;
}
.unpaid{
    --background: #eafaeb;
  }

ion-segment{
    --background: #fff;
}

ion-segment-button{
    --background-checked: #40A047;
    --color-checked: #fff;
    --border-radius: 25px;
    --indicator-color: transparent !important;
    --indicator-color-checked: transparent !important;
    width: 40px;
    min-width: 20px;
    height: 35px;
    min-height: 35px;
    padding:0;
}