<ion-header>
  <ion-toolbar>
    <ion-title color="success" align="center">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-subtitle align="center" style="margin-top:20px; font-size: 18px;">5 unread notifications</ion-card-subtitle>
  <br>
  <div *ngFor="let notification of notificationData">

  <div *ngIf="notification.read ==='unread'; then thenBlock; else elseBlock"></div>

  <ng-template #thenBlock>


  <ion-item  id="unread"   lines="none" (click)="viewNotification(notification)">
    <ion-avatar slot="start">
      <img *ngIf="notification.notification_categ == 'Property Listing Approval' "  [src]="environment.API_URL + '/propertyimages/'+notification.data.split(',')[0]+'/'+notification.data.split(',')[1]"/>
    </ion-avatar>
    <ion-label>
      <h2>{{notification.notification_categ}}</h2>
      <p><span class="notification-text">{{notification.notification_desc}}</span></p>
      <p class="notification-time">{{notification.notification_date}}</p>
    </ion-label>
    <ion-button slot="end" fill="clear" (click)="presentActionSheet(notification)">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </ion-button>
  </ion-item>
</ng-template>
  <ng-template #elseBlock>


  <ion-item    lines="none" (click)="viewNotification(notification)">
    <ion-avatar slot="start">
      <img *ngIf="notification.notification_categ == 'Property Listing Approval' "  [src]="environment.API_URL + '/propertyimages/'+notification.data.split(',')[0]+'/'+notification.data.split(',')[1]"/>
    </ion-avatar>
    <ion-label>
      <h2>{{notification.notification_categ}}</h2>
      <p><span class="notification-text">{{notification.notification_desc}}</span></p>
      <p class="notification-time">{{notification.notification_date}}</p>
    </ion-label>
    <ion-button slot="end" fill="clear" (click)="presentActionSheet(notification)">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </ion-button>
  </ion-item>
</ng-template>
</div>

</ion-content>
