<ion-header>
  <ion-toolbar>
    <ion-title color="success" align = "center">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-subtitle align="center" style="margin-top:20px; font-size: 18px;">5 unread notifications</ion-card-subtitle>
  <div class="container">
    <ion-list>
      <ion-list-header style="margin-right: 10px;">New</ion-list-header>

      <ion-item button detail="false">
          <img src="./assets/icon/Zen.jpg" alt="Avatar" class="avatar">
          <span class="text"><strong>Allain Zenith</strong> commented on your post "Hello po, may idea po ba kayo pano pananatiliing..."</span>
      </ion-item>
    </ion-list>
  </div>  
</ion-content>
