
.cancel{
    text-transform: capitalize;
    font-size: medium;
}


.signup-fields {
    border: 1px solid #B4B4BB;
    border-radius: 5.62px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #363636;
    --padding-start: 10px;
}

.signup-labels{
    font-size: medium;
}

img {
    width: 90%;
}

p {
    font-size: smaller;
}
