<ion-header>
  <ion-toolbar>
    <ion-title>Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true" class="container">
    <!-- <ion-segment value="acting_lessor" class="ion-no-padding">
      <ion-segment-button value="acting_lessor">
        <ion-label>Lessor</ion-label>
      </ion-segment-button>
      <ion-segment-button value="acting_lessee">
        <ion-label>Lessee</ion-label>
      </ion-segment-button>
    </ion-segment> -->

    <ion-item lines ="none" *ngFor="let item of response" (click)="saveFields(item)">
      <ion-avatar style="margin-right:9px">
        <img alt="Silhouette of a person's head" [src]="IMAGE_API_URL+item.propertyID+'/'+item.images[0]" />
      </ion-avatar>    
      <ion-label>
        <ion-text class="links" *ngIf="item.lessorID === userID">{{item.lessee_fname}} | </ion-text>
        <ion-text class="links" *ngIf="item.lesseeID === userID">{{item.lessor_fname}} | </ion-text>
        <ion-text class="links">{{item.address}}</ion-text>
        <p>{{item.msg_content}}</p>
      </ion-label>
    </ion-item>
    
  </ion-grid>

</ion-content>
