.message{
    --ion-grid-column-padding: 15px;
    border-radius: 29px;
    max-width:75%;
}

.left{
    background-color: #D0EDD2;
}

.right{
    text-align: right;
    background-color: #40A047;
    color: #fff;
    float:right
}

.set-contract{
    //ambot
}
