
<ion-header>
  <ion-toolbar>
   
    <ion-row class="header">
      <ion-col>
        <ion-text color="dark" id="header_favorites" (click)="navigateProfile()"><ion-icon name="arrow-back-outline"></ion-icon></ion-text>
      </ion-col>
      <ion-col>  <ion-title color="success">My Contracts</ion-title> </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <ion-grid [fixed]="true" class="container">
      <br>
      <ion-segment class="ion-no-padding" (ionChange)="getFilter($event)" [value]="filter">
        <ion-segment-button value="all">
          <ion-label class="button-labels">All</ion-label>
        </ion-segment-button>
        <ion-segment-button value="ongoing">
          <ion-label class="button-labels">Ongoing</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pending">
          <ion-label class="button-labels">Pending</ion-label>
        </ion-segment-button>
        <ion-segment-button value="finished">
          <ion-label class="button-labels">Finished</ion-label>
        </ion-segment-button>
      </ion-segment>
      <br><br>

      <ion-item *ngFor="let leasing of leasingData" (click)="viewContract(leasing.leasingID)">
        <ion-avatar style="margin-right:9px">
          <img alt="Silhouette of a person's head" [src]="IMAGE_API_URL+leasing.propertyID+'/'+leasing.images[0]" />
        </ion-avatar>
        <ion-label>
          <ion-text class="links">{{leasing.name}}</ion-text>
          <p>{{leasing.address}}</p>
        </ion-label>
      </ion-item>
    </ion-grid>

</ion-content>
