

<ion-content>
  <div class="main-container">
    <div class="form">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
 
        <ion-row style="padding-bottom:10px">
          <ion-row class="signup-with-icons">
            <ion-col>
              <ion-input placeholder="Password" class="signup-placeholder signup-placeholder-with-icons" (keyup)="checkPasswordStrength()"
                formControlName="password" [type]="showPwd ? 'text' : 'password'">
              </ion-input>
            </ion-col>
            <ion-col size="auto"><ion-icon [name]="pwdIcon" (click)="togglePwd()" color="success"></ion-icon></ion-col>
          </ion-row>
        </ion-row>
        <ion-row style="margin-top:-15px;" *ngIf="isPassStrong == false && passwordForm.get('password').touched && isPassCheck !== 'Strong'">
          <ion-text color="danger" class="warning_text">
            
           <ion-icon name="alert-circle-outline"></ion-icon> 
           {{isPassCheck}}
          </ion-text>
        </ion-row>
  
        <ion-row style="padding-bottom:10px">
          <ion-row class="signup-with-icons">
            <ion-col>
              <ion-input placeholder="Confirm Password" class="signup-placeholder signup-placeholder-with-icons" (keyup)="checkPasswordSame()"
                formControlName="confirm_password" [type]="confirm_showPwd ? 'text' : 'password'">
              </ion-input>
            </ion-col>
            <ion-col size="auto"><ion-icon [name]="confirm_pwdIcon" (click)="toggleConfirmPwd()" color="success"></ion-icon></ion-col>
          </ion-row>
        </ion-row>
        <ion-row style="margin-top:-15px;" *ngIf="isPassSame == false">
          <ion-text color="danger" class="warning_text">
            
           <ion-icon name="alert-circle-outline"></ion-icon> Passwords does not match
          </ion-text>
        </ion-row>
        <br>
        <br>
        <br>
       <ion-button class="cancel-button" shape="round" color="light" slot="start" [routerLink] = "['/settings']">Cancel</ion-button>
       <ion-button class="update-button" shape="round" color="success" slot="end" type="submit">Update</ion-button>
      </form>
    </div>
  </div>
</ion-content>