<ion-header>
  <ion-row class="header">
    <ion-col>
      <ion-text color="dark" id="header_favorites" (click)="goBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-text>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <div class="main-container">
    <ion-grid [fixed]="true" class="container">
      <!-- <ion-row class="center ion-no-padding">
          <ion-col size="auto"><ion-text color="primary" style="margin-right:4px;font-size: x-small;">Already have a contract?</ion-text>
          <ion-text color="success" class="links">Upload here.</ion-text></ion-col>
      </ion-row> -->
    
      <!-- <form [formGroup]="form_lease" (ngSubmit) = "onSubmit()"> -->
        <form (ngSubmit) = "onSubmit()">
        <ion-row class="ion-no-padding"> 
          <ion-col>
            <ion-label color="primary"  class="lease-labels">Purpose of Contract</ion-label>
            <ion-input class="lease-fields" type="text" required [(ngModel)]="purpose"></ion-input>
            <!-- <ion-input class="lease-fields" formControlName="purpose" type="text" required [(ngModel)]="mypurpose"></ion-input> -->

            <ion-row class="ion-no-padding">
              <ion-col size="6" >
                <ion-label color="primary"  class="lease-labels">Rental Type</ion-label>
                <ion-select class="lease-fields" placeholder="Choose" [(ngModel)]="leasing_payment_type">
                  <ion-select-option value="cash rent">Cash</ion-select-option>
                  <ion-select-option value="crop share">Crop Share</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="6">
                <ion-label color="primary"  class="lease-labels">Total Rental</ion-label>

                <span style="margin-left:50px;"><ion-icon name="information-circle-outline" id="click-trigger" color="success"></ion-icon></span>
                <ion-popover trigger="click-trigger" triggerAction="click">
                  <ng-template>
                    <ion-content class="ion-padding">
                      If you chose cash, input the total amount of cash the lessee needs to pay during the lease term.<br><br>
                      If you chose crop share, input the total percentage of the produced crops the lessee needs to share as their payment.
                    </ion-content>
                  </ng-template>
                </ion-popover>

                <ion-input class="lease-fields" [(ngModel)]="leasing_total_fee" type="number"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding">
              <ion-col size="6" >
                <ion-label color="primary"  class="lease-labels">Start date</ion-label>
                <ion-input type="date" class="lease-fields date-placeholder" [(ngModel)]="leasing_start" (ionChange)="onStartDateChanged()"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-label color="primary"  class="lease-labels">End date</ion-label>
                <ion-input type="date" class="lease-fields date-placeholder" [(ngModel)]="leasing_end" (ionChange)="onDateChanged()"></ion-input>
              </ion-col>
            </ion-row>

            <ion-label color="primary"  class="lease-labels">Payment Frequency</ion-label>
            <ion-list>
              <ion-item class="lease-fields" lines="none">
                <ion-select placeholder="Choose" [(ngModel)]="leasing_payment_frequency">
                  <ion-select-option value="1">One-time</ion-select-option>
                  <ion-select-option value="2">Monthly</ion-select-option>
                  <ion-select-option value="3">Quarterly</ion-select-option>
                  <ion-select-option value="4">Yearly</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>


            <ion-row style="padding-bottom:7px">
              <ion-col size="10" class="ion-no-padding"><ion-text style="font-size:12px">Lessee will pay a security deposit</ion-text></ion-col>
              <ion-col size="auto" class="ion-no-padding"><ion-toggle [(ngModel)]="isFirstToggleOn" (ionChange)="toggleChanged()"></ion-toggle></ion-col>
            </ion-row>

            <ion-row style="padding-bottom:7px">
              <ion-col size="10" class="ion-no-padding"><ion-text style="font-size:12px">Lessee can make improvements to the property</ion-text></ion-col>
              <ion-col size="auto" class="ion-no-padding"><ion-toggle [(ngModel)]="isSecondToggleOn" (ionChange)="toggleChanged()"></ion-toggle></ion-col>
            </ion-row>

            <ion-row style="padding-bottom:10px">
              <ion-col size="10" class="ion-no-padding"><ion-text style="font-size:12px">Lessee can erect any sign related to its business</ion-text></ion-col>
              <ion-col size="auto" class="ion-no-padding"><ion-toggle [(ngModel)]="isThirdToggleOn" (ionChange)="toggleChanged()"></ion-toggle></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col><ion-button expand="full" (click)="selectImage()" [disabled]="images.length > 0">Add Signature</ion-button></ion-col>
        
        </ion-row>
        <ion-list>
          <ion-item-sliding *ngFor="let file of images">
      
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-img [src]="file.data"></ion-img>
             </ion-thumbnail>
      
              <ion-label>{{file.name}}</ion-label>
            </ion-item>
        
            <ion-item-options>
              <ion-item-option color="danger" (click)="deleteImage(file)"> <ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

        <ion-row class="center">
          <ion-button class="success-button" shape="round" color="success" type="submit">Next</ion-button>
        </ion-row>


      </form>
    </ion-grid>
  </div>
</ion-content>

