<ion-header>
  <ion-toolbar>
   
    <ion-row class="header">
      <ion-col>
        <ion-text color="dark" id="header_favorites" (click)="navigateMyContracts()"><ion-icon name="arrow-back-outline"></ion-icon></ion-text>
      </ion-col>
    
      <ion-col></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="center">
    <br><br>
    <ion-label (click)="openWordContract()" color="success" style="font-size: 30px;font-weight:bold">View</ion-label>
    <ion-input readonly #signature></ion-input>
    <ion-list>
      <ion-item-sliding *ngFor="let file of images">
        <ion-item class="lease-fields">
          <ion-input readonly #signature value = {{file.name}}></ion-input>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="deleteImage(file)"> <ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-button *ngIf = "display1" (click)="navigateRate()">
        {{button1}}
      </ion-button>
    </ion-list>

    <ion-button shape="round" color="light" *ngIf = "display2" (click)="declineContract()">{{button2}}</ion-button>
    <ion-button shape="round" color="success" *ngIf = "display3" (click)="checkSignature()">{{button3}}</ion-button>
  </ion-grid>
  
</ion-content>
