<ion-header>
  <ion-toolbar>
    <ion-title color="success" align = "center">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <div class="form">

      <div><img src="./assets/icon/Zen.jpg" alt="Avatar" class="avatar"></div>
      <br>
      <br>

 
        <ion-input class="signup-fields" placeholder="First Name" type="text" [(ngModel)]="firstname"></ion-input>
        <ion-input class="signup-fields" placeholder="Middle Name" type="text"  [(ngModel)]="middlename"></ion-input>
        <ion-input class="signup-fields" placeholder="Last Name" type="text"  [(ngModel)]="lastname"></ion-input>
        <ion-input class="signup-fields" placeholder="Birthdate" type="date"  displayFormat="YYYY/MM/DD" [(ngModel)]="birthdate"></ion-input>
        <ion-row style="padding-bottom:10px">
          <ion-row class="signup-with-icons">
            <ion-col><ion-input placeholder="Address" class="signup-placeholder signup-placeholder-with-icons"   [(ngModel)]="address"></ion-input></ion-col>
            <ion-col size="auto"><ion-icon src="../assets/icon/location.svg" class="make-green"></ion-icon></ion-col>
          </ion-row>
        </ion-row>

        <ion-row style="padding-bottom:10px">
          <ion-row class="signup-with-icons">
            <ion-col><ion-input  [(ngModel)]="phone_number" placeholder="Phone Number" class="signup-placeholder signup-placeholder-with-icons" maxlength="11" type="text"></ion-input></ion-col>
            <ion-col size="auto"><ion-icon name="call" color="success"></ion-icon></ion-col>
          </ion-row>
        </ion-row>
     
       
        <br>
        <br>
        <br>
       <ion-button class="cancel-button" shape="round" color="light" slot="start" [routerLink] = "['/settings']">Cancel</ion-button>
       <ion-button class="update-button" shape="round" color="success" slot="end" (click)="updateProfileInfo()">Update</ion-button>

    </div>
  </div>
</ion-content>