.search{
    display:flex;
}

.search ion-row{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.search ion-row .search_bar_col{
    flex-basis:88%;
}
.search ion-row .search_filter_col{
    flex-basis:11%;
}


#search_filter{
    font-size:x-large;
    text-align: center;
    
}